---
import astroConfig from '../../astro.config.mjs';


interface Props {
    title?: string;
}

let title = Astro.props.title ?? "";
if (!!title) title = " - " + title;
---

<div class="main">
    <a href={astroConfig.base}>
        <img src="/RsDoc/favicon.png">
        <h1>
            <span>RsDoc</span>
            <span>{title}</span>
        </h1>
    </a>
</div>

<style lang="scss">
    :root {
        --height: 5vh;
    }

    .main {
        user-select: none;
        background-color: #f44;
        display: flex;
        flex-direction: row;
        height: var(--height);
        font-size: 0;

        a {
            color: inherit;
            text-decoration: none;
        }

        img {
            height: 100%;
            image-rendering: pixelated;
        }

        h1 {
            vertical-align: top;
            display: inline-block;
            font-size: var(--height);
            line-height: var(--height);
            margin: 0;
        }
    }
</style>
