---
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Redstone circuits document">
		<meta name="generator" content={Astro.generator}>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" type="image/png" href="RsDoc/favicon.png">
		<title>{title} - RsDoc</title>
	</head>
	<body>
		<Header/>
		<Article>
			<h1 id="title">{title}</h1>
			<slot/>
		</Article>
	</body>
</html>

<style lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

	body {
		margin: 0;
		font-family: "Noto Sans JP", sans-serif;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	#title {
		font-weight: normal;
		font-size: 4rem;
		line-height: 4rem;
		border-bottom: thin solid black;
	}
</style>

<style is:global>
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
</style>
